{% extends 'main/layout.html' %}

{% block name %}Придумай название сайту{% endblock %}

{% block text %}
    <div class="top">
        <h1>Abjorka</h1>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>

    <div class="block">
        <a href="https://unu.im/re/1601922"><img src='https://unu.im/i/unu_symbol.svg' width="30px;"></a>
        <a href="https://unu.im/re/1601922"><li>UNU</li></a>
        <h2>Описание сайта</h2>
    </div>
{% endblock %}